<!doctype html>
<html>
  <head>
    <title>OMDB API Example</title>
  </head>
  <body>
    <form action="/search">
      <h2>Search for Movies</h2>
      <input type="text" name="searchTerm">
      <input type="submit">
    </form>
  </body>
</html>
