<!doctype html>
<html>
  <head>
    <title>Movie Search Results</title>
  </head>
  <body>
    <h1>Results</h1>
    <ul>
      <% movieList.forEach(function (movie) { %>
      <li> <a href="/movie?movieId=<%= movie.imdbID %>" > <%= movie.Title %> </a></li> <button>Save</button>
      <% }) %>
    </ul>
  </body>
</html>
